:root {
    --verdelizard: #24ca24;
}

body {
    font-family: 'IM Fell English SC', serif;
    background-color: #fffbfb;
}

.titulo__principal {
    text-align: center;
    font-size: 40px;
    color: var(--verdelizard);
}

.subtitle {
    text-align: center;
    font-size: 1.35rem;
    margin-top: 2rem;
}

.terceiro__titulo {
    color: var(--verdelizard);
    font-size: 2em;
    margin-left: 1.6rem;
    margin-top: 1.5cm;
    margin-bottom: .7cm;
}

.quarto__titulo {
    color: var(--verdelizard);
    font-size: 1.6em;
    margin-left: 1.6rem;
    margin-top: 1.5cm;
    margin-bottom: .7cm;
}

.texto__explicacao {
    font-size: 1.3rem;
    margin: auto 1.6rem;
    line-height: 1.4;
}

.navbar {
    background-color: var(--verdelizard);
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
}

.a {
    text-decoration: none;
    color: rgb(228, 228, 228);
    text-transform: uppercase;
    margin-top: 10px;
    margin: auto 1.8cm;
}

.container__navbar {
    text-decoration: none;
    color: rgb(228, 228, 228);
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}

.legend {
    color: #24ca24;
}

.img__principal {
    width: 70%;
    margin: 3rem 15%;
    border: 2px solid #24ca24;
}

.video__yt {
    width: 70%;
    height: 500px;
    margin: 6pc 15%;
}

.rodape {
    background-color: var(--verdelizard);
    color: rgb(228, 228, 228);
}

.div__rdp {
    padding: 2rem 3rem;
    line-height: 1.6;
}

.div__rdp ul {
    display: inline-block;
    vertical-align: top;
    margin-right: 2cm;
    margin-left: 1cm;
}

.rodape a {
    text-decoration: none;
    color: rgb(228, 228, 228);
    text-transform: uppercase;
    text-decoration: underline;
}

em {
    font-style: italic;
}

.logo__dv {
    width: 120px;
    margin-left: 2rem;
    margin-right: 2rem;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
br::selection,
p::selection,
q::selection,
a::selection,
li::selection,
img::selection,
b::selection,
em::selection,
i::selection {
    background-color: #24ca24;
    color: white;
}

footer li::selection {
    background-color: #fffbfb;
    color: #24ca24;
}